.accordion-flush {
  padding-top: 20px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.06);
}
.accordion-button:focus {
  border-color: white;
  box-shadow: none;
}
.accordion-button:focus {
  border-color: white;
}
.accordion-button:not(.collapsed) {
  background-color: white;
  color: black;
  box-shadow: none;
}
.accordion-flush {
  padding-top: 0;
}
.accordion-button::after {
  content: "";
  background-image: url(../images/chevron-right.svg);
}
.accordion-button:not(.collapsed)::after {
  content: "";
  background-image: url(../images/chevron-down.svg);

  transform: rotateX(0deg);
}
.accordion-button {
  font-size: 15px;
  color: #160f29;
}
.accordion-body {
  padding-top: 0;
}
